Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteBase /

# Remove .php from URL
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]

# Redirect direct .php access to non-extension URL
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s(.*)\.php\sHTTP [NC]
RewriteRule ^(.*)\.php$ /$1 [R=301,L]