RewriteEngine on

# Redirect old URL to new URL
RewriteRule ^carry-handle-tape$ /packpro-carry-handle-tape [R=301,L]

RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

RewriteCond %{REQUEST_URI} ^/index$ [NC]
RewriteRule ^(.*)$ / [R=301,L]
